<style>
    body {
        background-image: url("https://cdn.pixabay.com/photo/2020/04/18/23/52/flower-5061390_960_720.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>